@(user: User, phoneNumbers : List[PhoneNumber])
@main("Welcome to Play") {
  <h1>Details:</h1><br/>
  Name: @user.name <br/>
  Surname: @user.surname <br/>
  Login: @user.username <br/>
  Email: @user.email <br/>
  Created: @user.created <br/>
  Role: @user.role<br><br>

  <a href="/edit" class="button">Edit</a> <br><br>

  Numbers:<br/>

  @for(phoneNumber <- phoneNumbers) {
    @phoneNumber.number <a href = "/delete/number/@phoneNumber.id">Delete</a><br/>
  }

  <a href="/number/@user.id" class="button">New number</a>
}